src/**/*
node_modules/
prisma/
prisma_large/
prisma_non_working/
templateRoot/
.github/
__tests__/
.eslintrc.json
.gitattributes
babel.config.js
jest.config.js
prettierrc.json
release.config.js
schema.prisma
