.main {
  padding: 20px;
  text-align: left; /* Align everything to the left */
  width: 70vw;
  min-width: 300px;
  margin: 2em auto;
}

.view-item {
  margin-top: 10px;
  background-color: lightgray;
}

.container {
    padding: 20px;
    text-align: left; /* Align everything to the left */
  }
  
  .title {
    font-weight: bold;
  }
  
  .base-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .item-list {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }
  
  .header-row th {
    padding: 8px;
    text-align: left;
  }
  
  .item-row td {
    padding: 8px;
    background-color: lightgray;
    border-bottom: 1px solid darkgray;
  }
  
  .action-cell {
    white-space: nowrap;
  }
  
  .action-link {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  
  .view-link {
    background-color: lightblue;
  }
  
  .edit-link {
    background-color: yellow;
    color: black;
  }
  
  .delete-link {
    background-color: red;
  }
  .pair {
    display: flex;
    margin-bottom: 10px;
  }

  
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    text-align: left; /* Align input labels to the left */
  }
  
  input,
  textarea {
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-start; /* Left-align the button group */
    margin-top: 16px;
  }
  
  .create-button {
    padding: 8px 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancel-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: lightgray;
    color: black;
    text-decoration: none;
    border-radius: 4px;
  }
  .key {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .value {
    margin-left: 5px;
  }


  .action-cell {
    width: 100px; /* Adjust the width as desired */
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
  }
  